
        body{
            color: white;
            text-align: center;
            background-color: black;
            /*font-family: Arial, Helvetica, sans-serif; */
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            
            margin: 0;
            padding: 0;
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            /* width: 200px; 
            /* height: auto; <!-- this is so that it doesn't stretch the photo --> */
        }
        .same-size img{
            width: 200px; 
            height: auto; 
        }
        nav{
            background-color: #17191A;
            text-align: center;
            /* background: linear-gradient(to right, black, #5e414b); */
            color: white;
            padding: 10px;  /* size of nav bar */


        }
        nav a{ 
            color: #D0D0D0;
            padding: 10px 20px; 
            /* background-color: grey; */
            text-decoration: none; /* remove underline from text */
        }
        nav a:hover {
            color: white /* text turns white when hovering over it */
        }
        footer {
            background-color: #17191A;
            font-size: 10px;
            color: white;
            text-align: center;
            padding: 20px; /* adds 20px of padding on each side */
            position: fixed; /* fixes the footer to bottom of page*/
            bottom: 0;
            width: 100%;    /* footer fills entire webpage from left to right */
        }