@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
body {
  background-color: #000;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 710px;
  margin: 0 auto; /* Centering the container horizontally */
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-bottom: 10%;
}

details {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0 auto; /* Centering the details within the container */
  max-width: 710px; /* Adjust width of details if needed */
  text-align: left; /* Reset text alignment for details */
  background-color: black;
}

summary {
  padding: 1em 0.5rem;
  font-size: 2rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: height 1s ease;
  text-align: left;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: "\002B";
}

details[open] summary {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 0.5em;
}

details[open] summary:after {
  content: "\00D7";
}

details[open] div {
  padding: 0.5em 1em;
}

.glowing-border
{
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
}

.glowing-border::after 
{
    content: "";
    position: absolute;
    height: 70%;
    width: 90%;
    background: linear-gradient(red, blue);
    z-index: -1;
    filter: blur(20px);
    border-style: solid;

}


.glowing-border:hover::after
{
    height: 106%;
    width: 100%;
}


