@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
body {
  background-color: #000;
  font-family: "Open Sans", sans-serif;
}

.navbar
{
  z-index: 1;
}

newName /* make sure this class doesn't select p tags or it messses with footers' p tags */
{
  font-size: 1.3rem;
  text-align: center;
  justify-content: center;
  padding: 2.5%;
}

.container {
  width: 710px;
  margin: 0 auto; /* Centering the container horizontally */
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-bottom: 10%;
}

details {
  color: #ffffff;
  font-size: 1.5rem!important;
  margin: 0 auto; /* Centering the details within the container */
  max-width: 710px; /* Adjust width of details if needed */
  text-align: left; /* Reset text alignment for details */
  background-color: black;
}

summary {
  padding: 1em 2rem;
  font-size: 2rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: height 1s ease;
  text-align: left;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: "\002B";
}

details[open] summary {
  border-bottom: 1px solid #ffffff;
}

details[open] summary:after {
  content: "\00D7";
}

details[open] div {
  padding: 0.5em 1em;
}

.glowing-border
{
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
}

.glowing-border::after 
{
    content: "";
    position: absolute;
    height: 60%;
    width: 90%;
    background: linear-gradient(red, purple, blue);
    z-index: -1;
    filter: blur(20px);
    border-style: solid;
    transition: all 500ms;

}

.glowing-border:hover::after
{
    height: 97%;
    width: 103%;
}

.newName.visible{
  display: block;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: -1;
    transform: translateY(0);
  }
}

.newName {
  opacity: 0;
  transform: translateY(-20px);
}

.glowing-border.active {
  /* Add a box-shadow to the active container */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.glowing-border.rotate {
  /* Apply a rotation effect to the container */
  transform: rotate(5deg);
  transition: transform 0.5s ease;
}



