img {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: auto;
    padding: 10px;
}
img.fritter {
    width: 1250px;
}
img.sauce {
    width: 1000;
}
.same-size img {
    width: 200px;
    height: auto;
}
a.buy {
    text-decoration: none;
    font-size: 30px;
    color: rgb(52, 120, 246);
}
.button {
    background-color: rgb(52, 120, 246);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.product {
    margin: 0;
    padding: 0;
}

.product desc {
    font-weight: bolder;
    font-size: 35px;
}
.product redColor {
    background: linear-gradient(to right, #EC483F, #EA3357);
    background-clip: text;
    color: transparent;
}
.product fujiColor {
    background: linear-gradient(to right, #DFA95F, #D75696);
    background-clip: text;
    color: transparent;
}
.product juiceColor {
    background: linear-gradient(to bottom, #FFFFFF, #DFA95F);
    background-clip: text;
    color: transparent;
}
.product pieColor {
    background: linear-gradient(to right, #9E41F6, #DFA95F);
    background-clip: text;
    color: transparent;
}
.product sauceColor {
    background: linear-gradient(to right, #DFA95F, #3478F6);
    background-clip: text;
    color: transparent;
}
.product sauceColor2 {
    background: linear-gradient(to right, #3478F6, #DFA95F);
    background-clip: text;
    color: transparent;
}
.product fritterColor {
    font-weight: bolder;
    background: linear-gradient(to bottom, #FFFFFF, #838383);
    background-clip: text;
    color: transparent;
}
.product fritterColor2 {
    font-weight: bolder;
    background: linear-gradient(to bottom, #838383, #000000);
    background-clip: text;
    color: transparent;
}
.product candyColor {
    font-weight: bolder;
    background: linear-gradient(to right, #81CA59, #DFA95F);
    background-clip: text;
    color: transparent;
}
.product price {
    font-weight: bolder;
}