html {
    scroll-snap-type: y mandatory;
    scroll-padding-top: 45px;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: auto;
    padding: 10px;
}
img.fritter {
    width: 1250px;
}
img.sauce {
    width: 1000;
}
.same-size img {
    width: 200px;
    height: auto;
}
a.buy {
    text-decoration: none;
    font-size: 30px;
    color: rgb(52, 120, 246);
}
.button {
    background-color: rgb(52, 120, 246);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    scroll-snap-align: start;
}
#fritter{
    min-height: 100vh;
}

.description:nth-child(1) {
    transition-delay: 50ms;
}
.description:nth-child(2) {
    transition-delay: 250ms;
}
.description:nth-child(3) {
    transition-delay: 450ms;
}
.description:nth-child(4) {
    transition-delay: 650ms;
}
.description:nth-child(5) {
    transition-delay: 850ms;
}
.description:nth-child(6) {
    transition-delay: 1250ms;
}


.product desc {
    font-weight: bolder;
    font-size: 35px;
}
.product redColor {
    background: linear-gradient(to right, #EC483F, #EA3357);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.product fujiColor {
    background: linear-gradient(to right, #DFA95F, #D75696);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product grannyColor {
    background: linear-gradient(to right, #ffffff, #7bd756);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product juiceColor {
    background: linear-gradient(to bottom, #FFFFFF, #DFA95F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.product pieColor {
    background: linear-gradient(to right, #9E41F6, #DFA95F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.product sauceColor {
    background: linear-gradient(to right, #DFA95F, #3478F6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.product sauceColor2 {
    background: linear-gradient(to right, #3478F6, #DFA95F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.product fritterColor {
    font-weight: bolder;
    background: linear-gradient(to bottom, #FFFFFF, #838383);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.product fritterColor2 {
    font-weight: bolder;
    background: linear-gradient(to bottom, #838383, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.product candyColor {
    font-weight: bolder;
    background: linear-gradient(to right, #81CA59, #DFA95F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.product price {
    font-weight: bolder;
}

.hiddenDesc {
    opacity: 0;
    filter: blur(5px);    
    transform: translateY(-100%);
    transition: all 1s;
}
.hiddenDescFritter {
    opacity: 0;
    filter: blur(5px);    
    transform: translateY(100%);
    transition: all 1s;
}
.hidden {
    opacity: 0;
    filter: blur(5px);    
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}