img {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: auto;
    padding: 10px;
}
.same-size img {
    width: 200px;
    height: auto;
}
a.buy {
    text-decoration: none;
    font-size: 30px;
    color: rgb(52, 120, 246);
}
.button {
    background-color: rgb(52, 120, 246);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.product {
    margin: 0;
    padding: 0;
}
.product desc {
    font-weight: bolder;
    font-size: 35px;
}
.product descColor {
    font-weight: bolder;
    font-size: 35px;
    background: linear-gradient(to right, #9E41F6, #DFA95F);
    background-clip: text;
    color: transparent;
}
.product price {
    font-weight: bolder;
}
